[Unit]
Description=Neptun Bot
After=syslog.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/bots/neptun/
EnvironmentFile=/bots/neptun/secrets.env
ExecStart=/bots/neptun/target/debug/neptun
KillSignal=SIGQUIT
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
