[Unit]
Description=Neptun Bot
After=syslog.target

[Service]
Type=notify
WorkingDirectory=/bots/neptun/
ExecStart=/bots/neptun/target/debub/neptun
Restart=always
KillSignal=SIGQUIT
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
